{% if autorefresh %}
<meta http-equiv="refresh" content="5; URL=/home_list">
{% endif %}
<table border="1">
{% for pokemon in pokemon_list %}
<tr>
<td>
<a href='geo:0,0?q={{pokemon.latitude}},{{pokemon.longitude}}({{pokemon.name}})'>
<img height='60' width='80' src='static/pixel_icons/{{pokemon.id}}.png'>
</a>
</td>
<td>{{pokemon.time_to_disappear}}</td>
<td>{{pokemon.distance}}m ({{pokemon.card_dir}})</td>
</tr>
{% endfor %}
<tr><td></td><td><b>low priority</b></td><td></td></tr>
{% for pokemon in pokemon_list_low %}
<tr>
<td>
{% if not client %}
    <a href='geo:0,0?q={{pokemon.latitude}},{{pokemon.longitude}}({{pokemon.name}})'>
{% else %}
    <a href=\'https://maps.google.com/maps?q=loc:{{pokemon.latitude}},{{pokemon.longitude}}'>
{% endif %}
<img height='60' width='80' src='static/pixel_icons/{{pokemon.id}}.png'>
</a>
</td>
<td>{{pokemon.time_to_disappear}}</td>
<td>{{pokemon.distance}}m ({{pokemon.card_dir}})</td>
</tr>
{% endfor %}
<b>
<tr>
<td><a href='locations'>locations</a></td>
<td>
<a href='next_loc'>locator</a></td>
<td>
<a href='geo:0,0?q={{origin_lat}},{{origin_lng}}(origin)'>origin</a>
</td></tr>
</b>
</table>


